@import "tailwindcss";

@layer base {
  html,
  body {
    min-height: 100%;
  }

  body {
    display: flex;
    flex-direction: column;
    min-height: 100svh;
  }

  img {
    display: block;
    max-width: 100%;
    height: auto;
  }
}

@layer components {
  .main-container {
    margin: 0 auto;
    width: 100%;
    padding: 0 40;
  }
}
